
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin:0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}


.top-box{
    display: flex;
    margin: 0;
    background-color: #1f2937;
}

.top-container{
    font-family: "Roboto";
    /* border: 5px dotted gold; */
    padding: 20px;
    padding-bottom: 80px;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 70px;
}


.header{
    /* border: 5px solid blue ; */
    display: flex;
    gap: 5px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    gap: 18px;
}

a{
    text-decoration: none;
    color:#F9FaF8 ;
    padding: 10px;
}

.logo{
    margin-right: auto;
    font-size: 26px;
    font-weight: 900;
    color:#F9FaF8 ;
}


.header,
.h-section{
    width: 60%;
    padding: 10px;
}

.h-section{
    /* border: 5px solid black ; */
    display: flex;
    gap: 50px;
    max-height: 300px;
}

.web-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.img{
    flex: 1;
    display: flex;
}

img{
    width: 100%;
}

.web-info h1{
    font-size: 60px;
    color: #F9FaF8;
    font-weight: 900;
    margin:0;
}

.web-info p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    margin-bottom: 10px;
}

.web-info button{
    padding: 10px 30px;
    border-radius: 13px;
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    font-size: 15px;
}

/* mid-box styles */

.mid-box{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 500px;
}

.mid-container{
    /* width: 50%; */
    padding-bottom: 80px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cards{
    display: flex;
    gap: 50px;
}

.cards img{
    /* border: 5px solid red;
    width: 100px;
    height: auto; */
    border: 2px solid blue;
    border-radius: 10px;
    flex: 1;
}

.cards > *{
    width: 160px;
    height: 225px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

p{
    margin: 0;
}


/* article //////////////////////*/

.article-box{
    background-color: #e5e7eb;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 500px;
}

.article {
    display: flex;
    width: 41%;
    /* flex: 1; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article p{
    font-family: "Light italic";
    font-size: 36px;
    color: #1f2937;
}

.article h3{
    align-self: flex-end;
}

/* sigh-up section  /////////////////////////*/

.sign-up{
    flex-grow: 1;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    /* flex:1; */
    width: 55%;
    height: 100px;
    padding: 20px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
   
}

.container h3{
    margin: 0;
    color: white;
}
.container p{
    margin: 0;
    color: white;
}


.container .button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button{
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 15px;
}

.footer{
    display: flex;
    flex-grow: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}